$image-path: "@cmsgov/ds-medicare-gov/dist/images";
@use "@cmsgov/ds-medicare-gov/dist/css/index";
@use "@cmsgov/ds-medicare-gov/dist/css/medicare-theme";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}